/* 全局重置*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* 顶层容器 */
body {
    /* 禁止 body 滚动 */
    height: 100vh; 
    width: 100vw;
    
    /* 垂直Flex布局*/
    display: flex;
    flex-direction: column; 
    font-family: Arial, sans-serif;/* 字体 */
    background-color: #9baf9d; 
    overflow: hidden; /*防止双重滚动条 */
}

/* 上边栏 */
.chat-header {
    height: 50px; 
    flex-shrink: 0; 
    
    width: 100%;
    background-color: #202123;
    border-bottom: 1px solid #4d4d4f;
    
    /* 内部对齐 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #fdfdff;
}
.model-dropdown-menu {
    display:none;
}

/* App Layout*/
.app-layout {
    /* 占据 Header 剩下的所有高度 */
    flex: 1; 
    display: flex; /* 水平 Flex 布局*/
    /* 限制范围  元素高度 = 视口高度的 100% - 50px */
    height: calc(100vh - 50px); 
    overflow: hidden;
}


   ========================================= */
/* 通用侧边栏逻辑 */
aside {
    /* 刚性宽度 */
    flex-shrink: 0; 
    height: 100%; /* 占满 App-Layout 的高度 */
    background-color: #000000;
    color: rgb(255, 255, 255);
    overflow-y: auto; 
}

.left-side {
    width: 130px; /* 左侧固定宽度 */
    border-right: 1px solid #4d4d4f;
    display: flex;
    flex-direction: column;
}

.right-side {
    width: 130px; /* 右侧固定宽度 */
    border-left: 1px solid #4d4d4f;
    margin-left: auto; 
}


/* Main Chat */
.main-chat {
    /* 占据左右侧边栏剩下的所有宽度 */
    flex: 1; 
    
    /* 垂直 Flex */
    display: flex;
    flex-direction: column;
    
    background-color: #343541;
    position: relative;
    height: 100%; /* 占满高度 */
}

/* 消息列表区 */
.chat-messages-area {
    /* 弹簧属性，占据除 input 外的所有高度 */
    flex: 1; 
    
    /* 滚动逻辑 */
    overflow-y: auto; 
    
    padding: 20px 10%; /* 左右留白 */
    scroll-behavior: smooth;
}

/*  底部输入区 */
.input {
    /* 刚性高度，根据内容自适应、 */
    
    flex-shrink: 0;/* 保证不会被消息挤压 */ 
    
    width: 100%; /* 占满中间区域的宽度 */
    
    background-color: #343541;
    border-top: 1px solid #4d4d4f;
    
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; /* 居中输入框 */
}
.input-area-low {
    display: flex;
}

/* 输入框内部容器 */
.input-area {
    width: 100%;
    background: #40414f;
    border-radius: 12px;
    padding: 12px 16px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    color: white;
    display: flex;
    align-items: center;
    border: 1px solid #565869;
}

.send {
    margin-left: auto;
    background: #19c37d;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
.system-prompt-edit {
    display: none;
}
/* 滚动条美化 */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #202123; }
::-webkit-scrollbar-thumb { background: #565869; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #acacbe; }